@import url("https://fonts.googleapis.com/css2?family=Ewert&family=Monofett&family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Images/bgc.jpg);
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 620px;
  background-image: linear-gradient(to bottom, #e3dddd80, #000000ab),
    url(Images/bgc.jpg);
  /* background-color: #3e6cbc; */
}
#musicControl {
  background-color: #88adfc;
  margin-bottom: 10px;
  border-radius: 50%;
  border: none;
  padding: 5px 15px;
  box-shadow: 3px 3px 3px #030b48;
}

#musicControl:hover {
  background-color: #4845e0;
  color: #ffffff;
  cursor: pointer;
}

#panel {
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  background-image: url(Images/img.jpg);
  /* background-color: #c4c4c4; */
}
#top {
  padding: 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 100px;
  background-color: #09003c;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.box {
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 5px;
  color: #13088e;
  font-weight: 700;
  font-size: 18px;
}
#bottom {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #030b48;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
}
.bubble {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #26016b;
  color: #fff;
  box-shadow: 3px 5px 5px 3px #000000 inset;
  border-radius: 40%;
}
.bubble:active {
  box-shadow: inset 5px 5px 10px #0000001a, inset -5px -5px 10px #fff;
  color: #6f0b0b;
  background-color: #ff8c8c;
}

.bubble:hover {
  cursor: pointer;
  background-color: #170140;
}
h1 {
  font-family: "Silkscreen", cursive;
}
#top {
  display: none;
}
#bottom {
  display: block;
}

#startButton {
  background-color: #212771;
  display: block;
  margin: auto;
  margin-top: 10%;
  border-radius: 20px;
  padding: 10px 40px;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 5px #231c4b;
  font-size: 30px;
  font-family: "Ewert", cursive;
}

#startButton:hover {
  background-color: #2b2121;
  cursor: pointer;
}
/*================== Media Queries=====================*/
@media screen and (max-width: 768px) {
  #panel {
    width: 95%;
    max-width: 100%;
  }

  #top {
    padding: 0 5%;
    min-height: 60px;
  }

  .box {
    font-size: 12px;
  }

  .bubble {
    overflow: hidden;
    width: 25px;
    height: 25px;
    box-shadow: 2px 3px 3px 2px #000000 inset;
    /* box-shadow: 2px 2px 2px #4a4950; */
  }
}
